@import "tailwindcss";

@theme {
  --color-primary: #0f766e;
  --color-primary-light: #14b8a6;
  --color-danger: #dc2626;
  --color-warning: #f59e0b;
  --color-success: #16a34a;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f5f9;
}

::-webkit-scrollbar-thumb {
  background: #94a3b8;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #64748b;
}
